<h2>Nuevo Usuario</h2>

<form method="POST">

    Nombre:

    <input type="text" name="nombre">

    <br><br>

    Email:

    <input type="email" name="email">

    <br><br>

    Password:

    <input type="password" name="password">

    <br><br>

    Rol:

    <select name="id_rol">

        {% for r in roles %}

        <option value="{{ r.id_rol }}">
            {{ r.nombre }}
        </option>

        {% endfor %}

    </select>

    <br><br>

    <button type="submit">
        Guardar
    </button>

</form>